.message {
  padding: 0.5rem 1rem;
  width: fit-content;
  position: relative;
}
.own {
  background-color: cadetblue;
  border-radius: 0px 5px 5px 5px;
}

.other {
  border-radius: 5px 0 5px 5px;
  background-color: brown;
  margin-left: auto;
}

.message-corner-right {
  position: absolute;
  top: 0;
  right: -8px;
  color: brown;
}

.message-corner-left {
  color: cadetblue;
  position: absolute;
  top: 0;
  left: -8px;
  transform: rotateY(180deg);
}
