.register-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 1rem;
  justify-content: center;
  background-color: var(--background);

  &__icon {
    width: 100px;
    height: 100px;
    margin-bottom: 2rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 450px;
    gap: 1rem;
    box-sizing: border-box;

    .form__item {
      width: 100%;
      position: relative;

      .password-icon {
        position: absolute;
        right: 1rem;
        top: 1.1rem;
        cursor: pointer;
        color: var(--accent);

        &:hover {
          color: var(--accent);
        }
      }
    }

    .form__input, .form__button {
      box-sizing: border-box;
      width: 100%;
      padding: .8rem 1rem;
      border-radius: 5px;
      outline: none;
      color: var(--text-primary);
    }

    .form__input {
      font-size: 1rem;
      font-family: 'Montserrat', sans-serif;
      background-color: transparent;
      border: 2px solid var(--accent);
      padding-right: 3rem;

      &:focus {
        border: 2px solid var(--accent);
      }

      &::placeholder {
        color: #ffffff88;
      }
    }

    .form__error {
      color: var(--error);
      font-size: .9rem;
      margin: .5rem 0 0 0;
      font-weight: 600;
      font-family: 'Montserrat', sans-serif;
    }

    .form__button {
      border: none;
      cursor: pointer;
      font-family: 'Montserrat', sans-serif;
      background-color: var(--accent);
      color: #fff;
      font-size: 1rem;

      &:hover {
         background-color: var(--accent);
      }
    }
  }

  &__link {
    margin-top: 2rem;
    font-size: 1rem;
    text-decoration: underline;
    color: var(--accent-active);
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;

    &:hover {
      color: var(--accent);
    }
  }
}